<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="/">LeBonVent<i class="fas fa-wind"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse justify-content-start">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Villes
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/cities/paris">Paris</a>
      <a class="dropdown-item" href="/cities/marseille">Marseille</a>
    </div>
  </li>
</div>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item mx-2">
        <a href='/upload'>Déposer une annonce</a>
      </li>
      <li class="nav-item mx-2">
        <a href='/login'>Login</a>
      </li>
      <li class="nav-item mx-2">
        <a href='/signup'>Signup</a>
      </li>
    </ul>
  </div>
</nav>