<div class="container">
    <div class="row">
        <div class="col-12 py-5">
            <h3>Welcome {{welcomeUser}} ! It's a pleasure to have you here! </h3>
            <a href="#">My Favorites<i class="fas fa-heart"></i></a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <h3 class="offer-posted">{{successMess}}</h3>
            <img class="img-offer-posted" src="img/wind-happy.png" alt="success"/>
            <img class="img-small" src="img/ballon.png" alt="success"/>
        </div>
    </div>
</div>
    
