<div class="container">
    <div class="row">
        <div class="col-12 py-5">
            <h3>Welcome {{welcomeUser}} ! It's a pleasure to have you here! </h3>
            <a href="#">My Favorites<i class="fas fa-heart"></i></a>
            <a href="/logout">Logout</a>
        </div>
    </div>
</div>