<div class="container">
    <div class="row">
        <div class="col-8 offset-2 my-5">
            <h2>ERORR 404</h2>
            <h2>Oups, tu t'es pris un long zef ! <i class="fas fa-wind"></i></h2>
        </div>
    </div>
</div>