<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="my-5">Le Bon Vent, ca sent la bonne affaire !</h1>
            <hr/>
        </div>
        <div class="row">
            <div class="">
                <a href="/cities/paris" class="btn btn-secondary">Paris</a>
                <img class="my-5 mx-5" src="/img/parismars.png"/>
                <a href="/cities/marseille" class="btn btn-secondary"> Marseille</a>
            </div>
        </div>
    </div>
</div>
