<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 justify-content-center">
            <h3 class="offer-posted">{{successMess}}</h3>
            <img class="img-offer-posted" src="img/wind-happy.png" alt="success"/>
            <img class="img-small" src="img/ballon.png" alt="success"/>
        </div>
    </div>
</div>